.license {
	margin: 0 auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	max-width: 90%;
	transition: all ease 0.3s;
	background-color: inherit;
	z-index: 975;
	overflow: hidden;
	max-height: 0.5em;
	position: relative;
	bottom: 0;

	&:hover {
		max-height: 6em;
		bottom: 2em;
	}
}

.license h1 {
	display: none;
}

.licenseLink {
	text-decoration: none;
}

.licenseSummary {
	box-sizing: border-box;
	width: 100%;
	font-size: 0.7em;
	color: white;
	background-color: #333;
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.licenseImage {
	display: block;
	margin: 0 auto;
	margin-bottom: 0.4em;
}
