html,
body {
  margin: 0;
}

html {
  --color: #222;
  --secondary-color: #888;
  --highlight-color: #0074d9;
  --background: #fafafa;
  --transition-duration: 0.3s;

  font-size: 22px;
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

body.dark {
  --color: #fafafa;
  --secondary-color: #ccc;
  --background: #222;
}

@media (prefers-reduced-motion: reduce) {
  html {
    --transition-duration: 0s;
  }
}

body {
  color: var(--color);
  background-color: var(--background);
  transition: color ease var(--transition-duration),
    background-color ease var(--transition-duration);
  will-change: color, background-color;
  margin: 0 auto;
}

.container {
  padding: 0 1rem;
}

@media (max-width: 640px) {
  html {
    font-size: 20px;
  }

  .container {
    max-width: 60ch;
    padding-left: 1rem;
  }
}

.sr-only {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
}

a,
button {
  border-radius: 0.25rem;
  color: var(--color);
  cursor: pointer;
  padding: 0.5rem;
  transition: box-shadow ease var(--transition-duration),
    color ease var(--transition-duration);
  will-change: box-shadow, color;
}

li a {
  display: inline-block;
  padding: 0.1rem 0.4rem;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--highlight-color);
}

a:hover,
button:hover {
  color: var(--highlight-color);
}

a:disabled,
button:disabled {
  color: var(--color);
  cursor: default;
  opacity: 0.5;
}

svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

#title {
  color: var(--color);
  font-weight: 800;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0.55rem 0 0 0;
  margin-bottom: 4rem;
}

.header-content {
  flex-wrap: wrap;
}

.header-content,
.header-content-right,
.header-modules {
  display: flex;
  align-items: center;
}

.header-content-left,
.header-content-right {
  margin-bottom: 0.25rem;
}

.header-content,
.header-content-left {
  flex-grow: 1;
  padding-right: 1rem;
}

.header a {
  color: var(--secondary-color);
  padding: 0 0.25rem;
}

.header a:hover {
  color: var(--highlight-color);
}
