@keyframes glitchLeft {
  from {
    color: var(--color);
    transform: translateX(0);
  }
  to {
    color: rgb(0, 0, 255);
    transform: translateX(calc(var(--glitch-translate) * -1));
  }
}

@keyframes glitchRight {
  from {
    color: var(--color);
    transform: translateX(0);
  }
  to {
    color: rgb(255, 0, 0);
    transform: translateX(var(--glitch-translate));
  }
}

@keyframes glitchCenter {
  from {
    color: var(--color);
    transform: translateX(0);
  }
  to {
    color: rgb(0, 255, 0);
    transform: skew(var(--glitch-skew));
  }
}

.title-fragment {
  --glitch-translate: 8px;
  --glitch-skew: 8deg;
  --glitch-speed-a: 100ms;
  --glitch-speed-b: 100ms;
  --glitch-speed-c: 100ms;

  display: inline-block;
  position: relative;
  clip: rect(0 1ch 0.5em 0);
}

.title-fragment::before,
.title-fragment::after {
  content: attr(data-letter);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 auto 0.5em 0);
}

.title-fragment::after {
  clip: rect(0.5em auto auto 0);
}

.title-fragment.animated {
  color: transparent;
}

.title-fragment.animated:nth-child(odd)::before,
.title-fragment.animated:nth-child(even)::after {
  animation: glitchRight linear var(--glitch-speed-a) infinite;
}

.title-fragment.animated:nth-child(odd)::after,
.title-fragment.animated:nth-child(even)::before {
  animation: glitchLeft linear var(--glitch-speed-b) infinite;
}

.title-fragment.animated:nth-child(3n)::after,
.title-fragment.animated:nth-child(4n)::before {
  animation: glitchCenter linear var(--glitch-speed-c) infinite;
}
