<footer class="site-footer">
    <div class="wrapper">
        <a class="licenseLink" rel="license"
            href="http://creativecommons.org/licenses/by/4.0/">
            <img class="licenseImage" alt="Licencia de Creative Commons"
                style="border-width:0" width="80" height="15"
                src="https://i.creativecommons.org/l/by/4.0/80x15.png">
            <span class="licenseSummary">Todo esto es tuyo, tan sólo recuerda
                mi nombre</span>
        </a>
    </div>
</footer>
