/*
 * Syntax highlighting styles
 */
.highlight {
    @extend %vertical-rhythm;

    .hll { background-color: #ffffcc }
    .c   { color: grayscale(#888888); }
    .err { color: grayscale(#a61717); }
    .k   { color: grayscale(#008800); font-weight: bold }
    .cm  { color: grayscale(#888888); }
    .cp  { color: grayscale(#cc0000); font-weight: bold }
    .c1  { color: grayscale(#888888); }
    .cs  { color: grayscale(#cc0000); font-weight: bold; }
    .gd  { color: grayscale(#444444); }
    .ge  { font-style: italic; }
    .gr  { color: grayscale(#aa0000) }
    .gh  { color: grayscale(#303030) }
    .gi  { color: grayscale(#444444); }
    .go  { color: grayscale(#888888) }
    .gp  { color: grayscale(#555555) }
    .gs  { font-weight: bold; }
    .gu  { color: grayscale(#606060); }
    .gt  { color: grayscale(#aa0000); }
    .kc  { color: grayscale(#008800); font-weight: bold }
    .kd  { color: grayscale(#008800); font-weight: bold }
    .kn  { color: grayscale(#008800); font-weight: bold }
    .kp  { color: grayscale(#008800); }
    .kr  { color: grayscale(#008800); font-weight: bold }
    .kt  { color: grayscale(#888888); font-weight: bold }
    .m   { color: grayscale(#0000DD); font-weight: bold }
    .s   { color: grayscale(#dd2200); }
    .na  { color: grayscale(#336699); }
    .nb  { color: grayscale(#003388); }
    .nc  { color: grayscale(#bb0066); font-weight: bold }
    .no  { color: grayscale(#003366); font-weight: bold }
    .nd  { color: grayscale(#555555); }
    .ne  { color: grayscale(#bb0066); font-weight: bold }
    .nf  { color: grayscale(#0066bb); font-weight: bold }
    .nl  { color: grayscale(#336699); font-style: italic }
    .nn  { color: grayscale(#bb0066); font-weight: bold }
    .py  { color: grayscale(#336699); font-weight: bold }
    .nt  { color: grayscale(#bb0066); font-weight: bold }
    .nv  { color: grayscale(#336699); }
    .ow  { color: grayscale(#008800); }
    .w   { color: grayscale(#bbbbbb); }
    .mf  { color: grayscale(#0000DD); font-weight: bold }
    .mh  { color: grayscale(#0000DD); font-weight: bold }
    .mi  { color: grayscale(#0000DD); font-weight: bold }
    .mo  { color: grayscale(#0000DD); font-weight: bold }
    .sb  { color: grayscale(#dd2200); }
    .sc  { color: grayscale(#dd2200); }
    .sd  { color: grayscale(#dd2200); }
    .s2  { color: grayscale(#dd2200); }
    .se  { color: grayscale(#0044dd); }
    .sh  { color: grayscale(#dd2200); }
    .si  { color: grayscale(#3333bb); }
    .sx  { color: grayscale(#22bb22); }
    .sr  { color: grayscale(#008800); }
    .s1  { color: grayscale(#dd2200); }
    .ss  { color: grayscale(#aa6600); }
    .bp  { color: grayscale(#003388); }
    .vc  { color: grayscale(#336699); }
    .vg  { color: grayscale(#dd7700); }
    .vi  { color: grayscale(#3333bb); }
    .il  { color: grayscale(#0000DD); font-weight: bold }
}
