h2.sectionTitle Proyectos

section.projectsSection
	for project, slug in public.projects._data
		if project.name
			article.project
				h1
					a(href=project.link)= project.name
				if (project.image)
					img(src="/assets/#{ slug }.jpg" alt="Imagen del proyecto " + project.name)
				p= project.description
