@use 'sass:math';

@import '~@fontsource/bangers';
@import '~@fontsource/inconsolata';
@import '~@fontsource/mali';

@mixin vignette() {
  $selectors: 1, 2, 3, 5, 7, 11;

  @each $selector in $selectors {
    &:nth-child(#{$selector}n + #{$selector}) {
      transform: rotateZ(#{random() * 2 - 1}deg) skewX(#{random() * 2 - 1}deg);

      border-left: solid #222 #{random() * 0.1 + 0.1}em;
      border-right: solid #222 #{random() * 0.1 + 0.1}em;
      border-top: solid #222 #{random() * 0.1 + 0.1}em;
      border-bottom: solid #222 #{random() * 0.1 + 0.1}em;

      $color: hsl(math.round(random() * 360deg) 100% 95%);
      background-image:
        radial-gradient(circle at #{random() * 100%} #{random() * 50%}, white 50%, #fff8ea 100%)
      ;
    }
  }

  box-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 1em;
}

@mixin textShadow($color, $from, $to) {
  $textShadows: ();

  @for $i from $from through $to {
    $textShadows: append($textShadows, #{$i}px #{$i}px 0 #{$color}, comma);
  }

  text-shadow: $textShadows;
}

html {
  font-family: 'Mali', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2em;
  max-width: 1300px;
  background: #eee;

}

body::after {
  content: '';
  background-image: radial-gradient(#eee 0%, #eee 40%, white 50%, white 100%);
  background-size: 8px 8px;
  position: fixed;
  top: -50vmax;
  left: -50vmax;
  width: 200vmax;
  height: 200vmax;
  transform: rotate(13deg);
  z-index: -1;
}

.h1 {
  position: absolute;
  inset-inline-start: -9999px;
  inset-block-start: -9999px;
  height: 1px;
  width: 1px;
}

#__next {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.anchor {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.25em;
  margin: 0.2em 0.1em;
  color: inherit;
  font-weight: 700;
  transition: color ease 0.3s, transform ease 0.3s;
  color: rgb(160, 104, 0);

  &:hover {
    color: orange;
  }
}

.strong {
  font-weight: 900;
}

.image {
  max-width: 100%;
  width: auto;
  height: auto;
}

.main-menu {
  @include vignette;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;

  .anchor:first-child {
    flex-grow: 1;
  }

  .anchor {
    margin-right: 1ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#__next > .footer {
  @include vignette;

  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > .h2 {
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.entry-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  margin: 0.25em 0 2em 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }
}

.entry-list-item {
  @include vignette;
  position: relative;
  transition: transform ease 0.3s, z-index linear 0s 0.3s;
  z-index: 0;

  .anchor {
    text-decoration: none;
  }

  > .header {
    margin-bottom: 0.5em;

    > .h3 {
      margin: 0;

      > .anchor::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      >.anchor--external::after {
        content: '↗️';
        font-size: 0.75em;
        margin-left: 0.25em;
        vertical-align: super;
        opacity: 0.5;
      }
    }

    > .time {
      color: #666;
      font-size: 0.875em;
    }
  }

  > .paragraph {
    margin: 0;

    > .anchor {
      display: inline;
      text-decoration: none;

      > .emoji {
        display: none;
      }

      &:after {
        content: '...';
      }
    }
  }

  &:focus-within,
  &:hover {
    transition: transform ease 0.3s, z-index linear 0.1s 0s;
    transform: rotateZ(0deg) scale(1.05);
    z-index: 1;

    .anchor {
      color: inherit;
    }

    &:nth-child(2n) {
      transform: rotateZ(0deg) scale(1.05);
    }
  }
}

.h1,
.h2 {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  color: orange;
  @include textShadow(black, -2, 5);
  text-align: center;
  max-width: 20ch;
  margin: 2rem auto;
  word-break: break-word;

  @media (min-width: 900px) {
    font-size: 4em;
    @include textShadow(black, -2, 10);
  }
}

.index-page {
  display: grid;
  position: relative;
  margin: 4em 0;
  gap: 0.5em;

  > .header > .paragraph,
  > .paragraph {
    @include vignette;
  }

  > .header {
    border: solid black 2px;
  }

  > .header,
  > .header > .picture,
  > .header > .picture > .image {
      aspect-ratio: 1080 / 1300;
  }

  > .header {
    white-space: nowrap;
    position: relative;
    overflow: hidden;

    > .h2,
    > .paragraph {
      position: absolute;
      z-index: 1;
    }

    > .h2 {
      margin: 0;
      bottom: 2em;
      left: 0.5em;
      transform: rotateZ(-10deg);
      text-align: left;
      font-size: clamp(3em, 5em, 5vw);
      color: #eee;

      &:before {
        content: 'the Amazing';
        display: block;
        font-size: 2rem;
        line-height: 0.5;
        @include textShadow(black, -2, 2);
      }
    }

    > .paragraph {
      bottom: 2em;
      right: 2em;
      width: auto;
      margin: 0;
      padding: 0.25em 0.5em;
    }

    > .picture,
    > .picture > .image {
      position: absolute;
      inset: 0 0;
      height: 100%;
      width: 100%;
      max-width: none;
      object-fit: cover;
      object-position: 50% 10%;
    }
  }

  > .paragraph {
    margin: 0;
  }

  @media (min-width: 640px) {
    >.header,
    >.header>.picture,
    >.header>.picture>.image {
      aspect-ratio: 1080 / 900;
    }

    > .header > .h2 {
      bottom: 1em;
      font-size: clamp(4em, 6em, 5vw);
    }
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    >.header,
    >.header>.picture,
    >.header>.picture>.image {
      aspect-ratio: 1080 / 1400;
    }

    >.header>.h2 {
      font-size: 2.75em;
      bottom: 2em;
    }

    > .header {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      transform: rotateZ(-2deg) scale(1.1) translateY(2%) translateX(5%);
    }

    >.paragraph:nth-child(3) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }

  @media (min-width: 1080px) {
    grid-template-columns: 1.25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    >.header {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    >.paragraph {
      grid-row: auto;
      grid-column: auto;
    }
  }
}

.tesera-tag-page {
  > .h1 {
    > .anchor {
      text-decoration: none;
    }

    > .anchor:first-child {
      display: none;
    }

    > .tag-list-item {
      color: orange;
    }
  }
}

.tesera-entry-page {
  width: 100%;
  margin: 0.25em auto;

  > .header {
    @include vignette;

    margin-bottom: 0.25em;
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;

    > .h2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    > .time {
      grid-row-start: 2;
      grid-row-end: 3;
      color: #666;
    }

    > .entry-mood {
      grid-row-start: 3;
      grid-row-end: 4;
      margin: 0;
      font-style: italic;
    }

    > .tag-list {
      grid-row-start: 4;
      grid-row-end: 5;
    }

    > .entry-summary {
      grid-row-start: 2;
      grid-row-end: 5;
      font-size: 0.875em;
      transform: translateY(1.5rem) rotateZ(5deg);
      position: relative;

      &:after {
        content: '📎';
        position: absolute;
        top: -2rem;
        left: 0;
        font-size: 3rem;
        z-index: -1;
      }

      &:before {
        content: 'TL;DR';
        font-size: 1.1rem;
        font-weight: 900;
        color: #666;
        position: absolute;
        top: -1.2rem;
        left: 4rem;
      }

      > .paragraph {
        @include vignette;
        margin: 0;
      }
    }

    > .anchor,
    > .figure {
      @include vignette;
      position: relative;
      display: block;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 0;
      height: 10em;
      padding: 4px;
      overflow: hidden;
      z-index: -1;

      .image {
        transform: translateY(-30%) rotateZ(-5deg) scale(1.2);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
      }
    }

    > .anchor > .figure {
      margin: 0;
    }

    @media (min-width: 900px) {
      grid-template-columns: 1fr 350px 350px 1fr;

      > .h2 {
        grid-column-start: 1;
        grid-column-end: 5;
      }

      > .time,
      > .entry-mood,
      > .tag-list {
        grid-column-start: 2;
        grid-column-end: 3;
      }

      > .entry-summary {
        grid-column-start: 3;
        grid-column-end: 4;
      }

      > .anchor,
      > .figure {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }

  > .entry-content {
    border: solid black 2px;
    background: white;
    --code-font-family: 'Inconsolata';
    padding: 2em 1em;
    margin: 0 auto;

    > * {
      max-width: 40rem;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
  }

  > .footer {
    @include vignette;
    margin: 0.5em auto;

    > .entry-footer-navigation {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > .anchor {
        margin: 0 0.25em;
        padding: 0.25em;
      }
    }
  }
}
