.mainWrapper[data-component='TeseraEntry'][data-entry-type='cheat-sheet'] {
  background: #151515;
  margin: 0;
  padding: 1em;
  min-height: 100%;

  a {
    color: #ddd;
  }

  .mainMenu,
  .mainFooter {
    opacity: 0.5;
    max-width: 100%;

    &:hover {
      opacity: 1;
    }
  }

  .mainFooter {
    margin: 0 auto;
  }

  .mainContent {
    padding-top: 2em;
    max-width: 100%;

    .article {
      margin-bottom: initial;

      .h2 {
        color: #aaa;
        font-size: 1.5em;
        margin: 0 0 1em 0;
      }
    }
  }

  .entryContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 1em;

    blockquote {
      background: #333;
      color: #ddd;
      border: solid thin #444;
      border-left-width: 4px;

      min-width: 40ch;
      width: initial;
      flex-grow: 1;

      border-radius: 4px;

      margin: initial;
      padding: 2.25em 1em 1em 1em;
      display: grid;
      place-content: start stretch;

      position: relative;

      p {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #444;
        color: #aaa;
        font-weight: bold;
        padding: 0 1em;
        border-bottom-right-radius: 4px;
        font-size: 0.75em;
      }

      pre {
        box-shadow: none;
      }
    }
  }
}
