.iconButton {
  display: inline-block;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  color: hsl(208, 90%, 43%);
  display: grid;
  place-items: center;

  &:hover {
    color: hsl(208, 90%, 25%);

    [data-color-scheme='dark'] & {
      color: hsl(208, 60%, 90%);
    }
  }
}
