.anchor,
.anchor:visited {
  color: hsl(208, 90%, 43%);

  [data-color-scheme='dark'] & {
    color: hsl(208, 60%, 65%);
  }
}

.anchor:hover {
  color: hsl(208, 90%, 25%);

  [data-color-scheme='dark'] & {
    color: hsl(208, 60%, 90%);
  }
}
