.h1 {
  position: absolute;
  inset-inline-start: -9999px;
  inset-block-start: -9999px;
  height: 1px;
  width: 1px;
}

.h2 {
  font-weight: 900;
  font-size: 2em;

  @media (min-width: 1280px) {
    margin-top: 2em;
  }
}

.h3 {
  font-weight: 400;
}
