.mainWrapper[data-component='TeseraEntry'][data-entry-type='post']
  .footer
  > .nav {
  > .anchor {
    margin: 1ch 1ch 0 0;
  }

  @media (min-width: 1280px) {
    > .anchor + .anchor {
      margin-left: 2ch;
      margin-right: 0;
    }
  }
}
