.mainWrapper[data-component='Home'] {
  .header {
    > .h2 {
      margin-bottom: 0;
    }

    > .paragraph {
      margin: 1em 0;
    }

    > .picture {
      border-radius: $roundness;
      display: block;
      height: 350px;
      width: 100%;
      overflow: hidden;
      box-shadow: 0.5em 0.5em 0 hsl(0, 0%, 90%);

      @media (prefers-color-scheme: dark) {
        box-shadow: 0.5em 0.5em 0 hsl(0, 0%, 25%);
      }

      > .image {
        max-width: 100%;
        width: auto;
        height: auto;
      }

      @media (min-width: 768px) {
        height: 500px;
      }

      @media (min-width: 900px) {
        float: right;
        width: 325px;
        height: 325px;
        margin-left: 2rem;
        margin-bottom: 2rem;
      }

      @media (min-width: 1921px) {
        width: 500px;
        height: 500px;
      }
    }
  }

  @media (min-width: 1921px) {
    transform: translateX(-6ch);
    margin: 10ch auto;
    width: 88ch;
  }
}
