.mainWrapper[data-component='TeseraIndex'] {
  .header {
    > .h2 {
      margin-bottom: 0;
    }

    > .tagList {
      margin-bottom: 1.5em;

      > .tagListItem {
        margin: 1ch 1ch 0 0;
      }
    }
  }
}
