meta(charset="utf-8")
meta(name="generator" content="harp")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(name="description" content="Web personal de Pablo Molina" + ((description) ? ('. ' + description) : '.'))

title(data-title=title)
	if title
		!= title + " | "
	!= "Pablo Molina | Piensa, inventa, comparte"

link(rel="alternate" type="application/rss+xml" title="RSS de Pablo Molina" href="/rss.xml")
link(rel="stylesheet" href="/assets/font-awesome/less/font-awesome.css")
link(rel="stylesheet" href="/assets/prism/prism.css")
link(rel="stylesheet" href="/themes/generic.css")
link#theme(rel="stylesheet" href="/themes/bubbles.css")
