!= partial('_partials/_html')
	head
		meta(charset='utf-8')
		title=title || 'Ejemplo'

		:less
			#p2kmgclReturnLink {
				position: fixed; top: 0; left: 0;
				text-decoration: none;
				color: inherit;
				opacity: 0.5;
				transition: all ease 0.3s;
				&:hover { opacity: 1; }
			}

	body
		if title
			a#p2kmgclReturnLink(href="/examples.html") ← Volver a pablomolina.me
		!= yield
