doctype html
html
	head
		meta(charset='utf-8')
		title Message Sender
		<link href='http://fonts.googleapis.com/css?family=Griffy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		:less
			html {
				height: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
			}

			body {
				font-family: 'Griffy', Consolas, Monospace;
				text-align: center;
				display: table;
				height: 100%;
				width: 90%;
				padding: 0;
				margin: 0;
				margin-left: 5%;
				text-align: center;
				background-color: #eee;
			}

			a {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				margin: 0 auto;
				font-size: 5em;
				text-decoration: none;
				outline: none;
				color: black;
			}

			div {
				display: none;
			}

	body
		<a href="#" id="input" contenteditable>Escribe aquí y envía el enlace</a>
		<div id="debug"></div>

		:js
			function perfectSquare (input) {
				var size = input.length || 1,
				sideLength = Math.ceil(Math.sqrt(size)),
				realSize = sideLength * sideLength,
				inputArray = input.split(''),
				output = [];

				while (size < realSize) {
					inputArray.push(' ');
					size++;
				}

				for (var i = 0; i < sideLength; i++) {
					output.push([]);
				}

				for (var i = 0; i < size; i++) {
					output[i % sideLength].push(inputArray[i]);
				}

				for (var i = 0; i < sideLength; i++) {
					output[i] = output[i].join('');
				}
				return output;
			}

			var $input = document.getElementById('input'),
				$debug = document.getElementById('debug');
			
			function setMessage () {
				var value = perfectSquare($input.innerHTML);
				$input.href = '#' + encodeURIComponent(value.join(''));
				$debug.innerHTML = value.join('<br/>');
				window.location.hash = encodeURIComponent(value.join(''));
				setFontSize();
			}

			function setFontSize () {
				var fontSize = 400 / parseInt(Math.log($input.innerHTML.length + 1), 10);
				if (fontSize < 20) { fontSize = 20; }
				$input.style.fontSize = fontSize + 'px';
			}

			window.onkeyup = setMessage;
			setFontSize();
			
			if (window.location.hash) {
				$input.innerHTML = perfectSquare(decodeURIComponent(window.location.hash.substr(1, window.location.hash.length - 1))).join('');
				setMessage();
			}

			setInterval(function () {
				$input.focus();
			}, 100);
