.mainWrapper[data-component='TeseraEntry'] {
  .entryMood .paragraph {
    margin-top: 0;
  }

  .time {
    font-size: 0.875em;
    font-style: italic;
    color: #444;
  }

  .footer {
    margin: 1em 0;
  }
}
