.mainWrapper[data-component='Home'] {
  .picture,
  .image {
    display: block;
    height: 16em;
    width: 12.34em;
  }

  @media (min-width: 32em) {
    .picture {
      float: right;
      margin: 0 1em 1em 1em;
    }
  }
}
