.mainWrapper {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue, Arial, sans-serif;
  padding: 1em;
  color-scheme: light;

  [data-color-scheme='dark'] & {
    color: #f1f1f1;
    background: #1e1e1e;
    color-scheme: dark;
  }
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .ul,
  .section {
    display: flex;
    flex-direction: column;
    gap: 1ch;
  }

  .ul {
    list-style: none;
    padding-left: 0;
  }

  .anchor,
  .iconButton {
    margin-bottom: 0.25em;
  }

  .iconButton {
    display: inline-flex;
    gap: 1ch;
  }

  .iconButton::after {
    content: attr(aria-label);
  }
}

.article {
  max-width: 100%;
  width: 60ch;
}

.h1 {
  margin: 1em auto 0.5em 0;
}

.h2 {
  font-size: 1.5em;
  margin: 1em auto 0.5em auto;

  &[aria-label] {
    font-size: 0;

    &::after {
      content: attr(aria-label);
      font-size: 1.5em;
    }
  }
}

.h3 {
  margin-bottom: 0.25em;
}

@import 'entry-page';
@import 'index-page';
