.mainWrapper {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue, Arial, sans-serif;
  padding: 1em;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .anchor {
    margin-bottom: 0.25em;
  }
}

.article {
  max-width: 100%;
  width: 60ch;
}

.h1 {
  margin: 1em auto 0.5em auto;
}

.h2 {
  font-size: 1.5em;
  margin: 1em auto 0.5em auto;

  &[aria-label] {
    font-size: 0;

    &::after {
      content: attr(aria-label);
      font-size: 1.5em;
    }
  }
}

.h3 {
  margin-bottom: 0.25em;
}

@import 'entry-page';
@import 'index-page';
