.h1 {
  position: absolute;
  inset-inline-start: -9999px;
  inset-block-start: -9999px;
  height: 1px;
  width: 1px;
}

.h2 {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  text-align: center;
  max-width: 20ch;
  margin: 0 auto 2rem auto;
  word-break: break-word;
  transform: translateX(-0.5rem);
  color: $white;
  text-shadow: 4px 4px 0 $blue2;

  [data-color-scheme='dark'] & {
    filter: drop-shadow(0 0 10px black);
  }

  .emoji {
    display: none;
  }

  @media (min-width: 900px) {
    font-size: 4em;
    margin: 0 auto 4rem auto;
    transform: translateX(0);
  }
}
