@use 'mixin-vignette';

.entryList {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 1900px) {
    gap: 2rem;
  }
}

.entryListItem {
  @include mixin-vignette.rotated();
  position: relative;
  background-color: $blue;

  > .header,
  > .paragraph {
    max-width: 32rem;
  }

  > .header {
    margin-bottom: 0.5em;

    > .h3 {
      margin: 0;

      .anchor {
        position: static;

        &::after {
          transform: none;
          position: static;
          width: auto;
          height: auto;
          background: none;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: box-shadow ease 0.1s;
          box-shadow: inset 0 0 0 0 $orange;
        }

        &:hover::before,
        &:focus-visible::before {
          box-shadow: inset 0 0 0 10px $orange;
        }
      }

      .anchorExternal::after {
        content: '↗️';
        font-size: 0.75em;
        vertical-align: super;
        text-align: right;
        padding-right: 0.5em;
        padding-top: 0.25em;
        margin-left: 0.5ch;
        opacity: 0.5;
      }

      .anchorExternal:hover::after,
      .anchorExternal:focus::after {
        transform: none;
      }
    }

    > .time {
      color: #666;
      font-size: 0.875em;
    }
  }

  > .paragraph {
    margin: 0;

    > .anchor {
      display: inline;
      text-decoration: none;

      > .emoji {
        display: none;
      }

      &:after {
        content: '...';
      }
    }
  }
}
