@use 'mixin-vignette';

.mainWrapper[data-component='TeseraEntry'][data-entry-type='post'] {
  .mainContent {
    display: block;
    padding: 0;

    .header {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0 2rem;

      > .nav,
      > .time,
      > .section {
        @include mixin-vignette.regular();
        order: 3;
      }

      .paragraph {
        margin: 0;
      }

      .ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        gap: 2ch;
      }

      > .section:last-of-type {
        margin-bottom: 2ch;
      }

      > .section[aria-label='Mood'] > .paragraph {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        span:not(.emoji) {
          flex-grow: 1;
        }

        .emoji {
          font-size: 3rem;
        }
      }

      .h2 {
        order: 1;
        margin: 0 auto;
        padding: 2rem;
        line-height: 1;

        @media (min-width: 1900px) {
          padding: 4rem;
        }
      }

      .figure {
        order: 2;
        margin: 0;
      }
    }

    .footer {
      @include mixin-vignette.regular();
      margin: 2rem;

      .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .entryContent {
    --code-font-family: 'Inconsolata';
    background-color: $white;
    border-bottom: solid $blue2 8px;
    border-top: solid $blue2 8px;
    padding: 2rem;

    [data-color-scheme='dark'] & {
      background-color: $black;
    }

    > * {
      margin-left: auto;
      margin-right: auto;
      max-width: 45rem;
    }

    > pre {
      $padding: 2rem;

      box-sizing: border-box;
      padding: $padding;
      position: relative;
      left: -$padding;
      width: calc(100% + #{$padding * 2});
    }

    .anchor {
      display: inline;

      &::after {
        content: none;
      }

      &:hover,
      &:focus-visible {
        text-decoration: solid underline 4px $orange;
      }
    }
  }
}
