@use 'mixin-vignette';

.mainWrapper[data-component='Home'] > .mainContent > .article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin: 1em 0;
  perspective: 1000px;
  max-width: 1300px;

  > .header > .paragraph,
  > .paragraph {
    @include mixin-vignette.rotated();
  }

  > .header,
  > .paragraph {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  > .header {
    border: solid white 4px;
    outline: solid black 2px;
    border-radius: 16px;
    box-shadow: 0 10px 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateX(3deg) translateY(-1em);
    white-space: nowrap;
    position: relative;

    &,
    > .picture,
    > .picture > .image {
      aspect-ratio: 1080 / 1380;
    }

    > .h2,
    > .paragraph {
      position: absolute;
      z-index: 1;
    }

    > .h2 {
      margin: 0;
      bottom: 2.5em;
      left: 0.5em;
      transform: rotateZ(-10deg);
      text-align: left;
      font-size: 2.25em;
      color: #eee;
      filter: drop-shadow(0 0 10px black);

      [data-color-scheme='dark'] & {
        filter: drop-shadow(0 0 10px black);
      }

      &:before {
        content: 'the Amazing';
        display: block;
        font-size: 0.75em;
        line-height: 0.5;
      }
    }

    > .paragraph {
      bottom: 1em;
      left: 1em;
      font-size: 1rem;
      width: auto;
      margin: 0;
      padding: 0.25em 0.5em;
    }

    > .picture,
    > .picture > .image {
      position: absolute;
      inset: 0 0;
      height: 100%;
      width: 100%;
      max-width: none;
      object-fit: cover;
      object-position: 50% 10%;
    }
  }

  @media (min-width: 800px) {
    display: block;

    > .header,
    > .paragraph {
      width: 50%;
    }

    > .header {
      float: left;
      transform: rotateY(10deg) rotateZ(-2deg) scale(1.1) translateY(5%)
        translateX(-5%);

      &,
      > .picture,
      > .picture > .image {
        aspect-ratio: 1080 / 1600;
      }

      > .h2 {
        font-size: 2.75em;
        bottom: 2.75em;
      }

      > .paragraph {
        left: auto;
        right: 2em;
        font-size: 1rem;
        bottom: 2em;
      }
    }

    > .paragraph {
      margin-left: auto;

      + .paragraph {
        margin-top: 0.5em;
      }
    }

    > .paragraph:nth-child(n + 4) {
      width: 100%;
    }
  }

  @media (min-width: 1080px) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);

    > .header,
    > .paragraph {
      width: auto;
      height: auto;
    }

    > .header {
      grid-area: 1 / 2 / 3 / 10;
      transform: rotateY(10deg) rotateZ(-2deg) translateY(2%) translateX(-5%);
    }

    > .paragraph + .paragraph {
      margin-top: 0;
    }

    > .paragraph:nth-child(2) {
      grid-area: 1 / 10 / 2 / 16;
    }

    > .paragraph:nth-child(3) {
      grid-area: 1 / 16 / 2 / 21;
    }

    > .paragraph:nth-child(4) {
      grid-area: 2 / 10 / 3 / 15;
    }

    > .paragraph:nth-child(5) {
      grid-area: 2 / 15 / 3 / 21;
    }
  }

  @media (min-width: 1900px) {
    margin: 4rem auto;
  }
}
