@use 'mixin-vignette';

.mainWrapper[data-component='TeseraEntry'] {
  display: block;

  .mainContent {
    display: block;
    padding: 0;

    .header {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;

      > .nav,
      > .time,
      > .section {
        @include mixin-vignette.regular();
        margin: 0 2rem;
        order: 3;

        .paragraph {
          margin: 0;
        }
      }

      > .section[aria-label='Mood'] > .paragraph {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        span:not(.emoji) {
          flex-grow: 1;
        }

        .emoji {
          font-size: 3rem;
        }
      }

      .h2 {
        order: 1;
        margin: 0 auto;
        padding: 2rem;
        line-height: 1;

        @media (min-width: 1900px) {
          padding: 4rem;
        }
      }

      .figure {
        order: 2;
        margin: 0;
      }
    }

    .footer {
      @include mixin-vignette.regular();
      margin: 2rem;

      .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .entryContent {
    --code-font-family: 'Inconsolata';
    background-color: $white;
    padding: 1rem 2rem;

    border-bottom: solid $blue2 8px;
    border-top: solid $blue2 8px;

    [data-color-scheme='dark'] & {
      background-color: $black;
    }

    > * {
      max-width: 60ch;
    }

    > pre {
      $padding: 2rem;

      box-sizing: border-box;
      padding: $padding;
      position: relative;
      left: -$padding;
      width: calc(100% + #{$padding * 2});
    }
  }
}
