@mixin shadow($color, $from, $to, $direction: 'diagonal') {
  $textShadows: ();

  @if $direction == 'diagonal' {
    @for $i from $from through $to {
      $textShadows: append($textShadows, #{$i}px #{$i}px 0 #{$color}, comma);
    }
  }

  @if $direction == 'cross' {
    @for $i from $from through $to {
      $textShadows: append($textShadows, #{$i}px 0 0 #{$color}, comma);
    }

    @for $i from $from through $to {
      $textShadows: append($textShadows, 0 #{$i}px 0 #{$color}, comma);
    }
  }

  text-shadow: $textShadows;
}
