$white: #fff;
$black: #222;

$red: #ce2c3c;
$red2: #7e1f27;
$orange: #d3af37;
$orange2: #b29700;
$blue: #2b6bbd;
$blue2: #114c92;

@import '~@fontsource/bangers';
@import '~@fontsource/inconsolata';
@import '~@fontsource/mali';

@import 'component-anchor';
@import 'component-article';
@import 'component-emoji';
@import 'component-entry-list';
@import 'component-headings';
@import 'component-icon-button';
@import 'component-strong';
@import 'component-tag-list';
@import 'main-layout';

@import 'page-home';
@import 'page-raw-page';
@import 'page-tesera-index';
@import 'page-tesera-tag';

@import 'page-tesera-entry';
@import 'page-tesera-entry-cheat-sheet';
@import 'page-tesera-entry-post';
