@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes toTranslateXZero {
  to {
    transform: translateY(0);
  }
}

@keyframes translateToCenter {
  from {
    transform: translateY(-0.5em);
  }

  to {
    transform: translateY(0);
  }
}

.main {
  margin: 0 auto;
  width: 70vw;
  box-sizing: border-box;
  font-size: 24px;
  position: relative;
  scroll-snap-type: y mandatory;
}

header,
.experiments {
  min-height: 100vh;
  padding: 3rem 2rem;
  box-sizing: border-box;
  scroll-snap-align: start;
}

header {
  padding: 30vh 2rem;
}

.title,
.subtitle {
  opacity: 0;
  margin: 0;
  transform: translateX(-0.5ch);
  animation: fadeIn ease-out 2s, toTranslateXZero ease-out 1.5s;
  animation-fill-mode: forwards;
}

.title {
  font-size: 48px;
  animation-delay: 0.25s;
  font-weight: 900;
}

.subtitle {
  transform: translateX(-2ch);
  animation-delay: 1s;
}

.link-list {
  margin-top: 8px;
  transform: translateX(-12px);
}

.link {
  padding: 12px;
  color: inherit;
  opacity: 0;
  display: inline-flex;
  animation: fadeIn ease-out 0.6s, translateToCenter ease-out 0.6s;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  text-decoration: none;
  transition: box-shadow ease 0.3s;
  will-change: box-shadow;
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #888;
}

.link:nth-child(1) {
  animation-delay: 1.75s;
}

.link:nth-child(2) {
  animation-delay: 2s;
}

.link:nth-child(3) {
  animation-delay: 2.25s;
}

.link:nth-child(4) {
  animation-delay: 2.5s;
}

.link-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
  transition: fill ease 0.3s;
}

.link:hover > .link-icon {
  fill: #888;
}

.link-text {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.experiments a {
  color: inherit;
}

.toggle-dark-theme-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.toggle-dark-theme-button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.toggle-dark-theme-button:disabled {
  cursor: default;
  opacity: 0.5;
}

body {
  color: black;
  background-color: white;
  transition: color ease 0.3s 0.3s, background-color ease 0.3s 0.3s;
  will-change: color, background-color;
}

body.dark {
  color: white;
  background-color: black;
}

.sr-only {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
}

@media (max-width: 640px) {
  .main {
    font-size: 22px;
    width: 90vw;
  }

  .title {
    font-size: 36px;
  }
}
