body {
  color: black;
  background-color: white;
  transition: color ease 0.3s 0.3s, background-color ease 0.3s 0.3s;
  will-change: color, background-color;
  padding-left: 10vw;
  padding-right: 1rem;
  font-size: 24px;
  scroll-snap-type: y mandatory;
}

body.dark {
  color: white;
  background-color: black;
}

.sr-only {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
}

main,
section {
  min-height: 100vh;
  padding: 3rem 2rem;
  box-sizing: border-box;
  scroll-snap-align: start;
}

main {
  padding-top: 30vh;
}

h1,
header p {
  opacity: 0;
  margin: 0;
  transform: translateX(-0.5ch);
  animation: fadeIn ease-out 2s, toTranslateXZero ease-out 1.5s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 48px;
  animation-delay: 0.25s;
  font-weight: 900;
}

h3 {
  margin-bottom: 0;
  padding: 0;
}

h3 a {
  padding: 0;
}

header p {
  transform: translateX(-2ch);
  animation-delay: 1s;
}

article p {
  margin-top: 0.5rem;
}

a,
button {
  border-radius: 8px;
  color: inherit;
  padding: 12px;
  transition: box-shadow ease 0.3s;
  will-change: box-shadow;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #888;
}

a:hover,
button:hover {
  color: #888;
}

nav {
  margin-top: 8px;
  transform: translateX(-12px);
}

nav a {
  opacity: 0;
  display: inline-flex;
  animation: fadeIn ease-out 0.6s, translateToCenter ease-out 0.6s;
  animation-fill-mode: forwards;
  text-decoration: none;
  transform-origin: 50% 50%;
}

svg {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

button {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 0 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

@media (max-width: 640px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main {
    font-size: 22px;
  }

  h1 {
    font-size: 36px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes toTranslateXZero {
  to {
    transform: translateY(0);
  }
}

@keyframes translateToCenter {
  from {
    transform: translateY(-0.5em);
  }

  to {
    transform: translateY(0);
  }
}
