<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <title id="head-title">{% if page.title != "Index" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <meta name="theme-color" content="{{ site.themeColor }}" />

    {% for favicon in site.favicons %}
    <link rel="icon" type="image/png" sizes="{{ favicon }}x{{ favicon }}" href="{{ '/favicon/favicon-' | append: favicon | append: '.png' }}" />
    {% endfor %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body class="body body--{{ page.slug }}">
    <div id="wrapper">
      <nav id="main-menu">
        <a class="main-menu-link" href="/">pablomolina.me</a>

        <span id="main-menu-link-list">
          {% for page in site.pages %} {% if page.title != "Index" %}
          <a class="main-menu-link" href="{{ page.url }}"
            >{% if page.emoji %}<span class="emoji">{{ page.emoji }}</span>{% endif %}{{ page.title }}</a
          >
          {% endif %} {% endfor %}
        </span>
      </nav>

      <main id="content">
        <h1 id="title">{% if page.title != "Index" %}{{ page.title }}{% else %}Pablo Molina{% endif %}</h1>
        {{ content }}
      </main>

      <footer id="footer">
        <strong id="footer-name">Pablo Molina</strong>
        <a id="footer-email" href="mailto:contact@pablomolina.me"><span class="emoji">📮</span>contact@pablomolina.me</a>

        <nav id="footer-links">
          <a class="footer-link" href="https://github.com/p2kmgcl" title="Pablo Molina's Github profile"><span class="emoji">🐱</span>Github</a>
          <a class="footer-link" href="https://mobile.twitter.com/p2kmgcl" title="Pablo Molina's Twitter profile"
            ><span class="emoji">🐦</span>Twitter</a
          >
          <a class="footer-link" href="https://www.linkedin.com/in/p2kmgcl/" title="Pablo Molina's LinkedIn profile"
            ><span class="emoji">👔</span>LinkedIn</a
          >
        </nav>
      </footer>
    </div>

    <script defer async type="module" src="/assets/main.js"></script>
  </body>
</html>
