<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <title>{% if page.title != "Index" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <meta name="theme-color" content="{{ site.themeColor }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />

    {% for favicon in site.favicons %}
    <link rel="icon" type="image/png" sizes="{{ favicon }}x{{ favicon }}" href="{{ '/favicon/favicon-' | append: favicon | append: '.png' }}" />
    {% endfor %}

    <link rel="preconnect" href="{{ site.url }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <script>
      (function () {
        const DEFAULT_THEME = '/assets/themes/simplicity.css';
        const DEFAULT_THEME_VERSION = '1';
        const KONAMI_CODE = 'ArrowUpArrowUpArrowDownArrowDownArrowLeftArrowRightArrowLeftArrowRightKeyBKeyA';

        let pressedKeys = '';
        let timeoutId = null;

        const hasChangedTheme = () => !!localStorage.getItem('random-theme');
        const isHacker = () => !!localStorage.getItem('random-theme-hacked');

        function getFullPower() {
          localStorage.setItem('random-theme-hacked', 'yep');

          console.log(
            'Incredible! You found it!\n' +
              'Alright, here you have absolute superuser powers, but remember:\n' +
              '"With great power comes great responsibility"',
          );

          window.themeManager = {
            getCSSTheme,
            getCSSThemeList,
            setCSSTheme,
          };

          console.log(`
window.themeManager = {
  getCSSTheme,
  getCSSThemeList,
  setCSSTheme
}`);
        }

        if (isHacker()) {
          getFullPower();
        } else if (hasChangedTheme()) {
          console.log(
            "Ok, you've found the konami code, but there is something more...\n\n" +
              'To unlock the full power of this application you will need to answer a question:\n' +
              '"What is the answer to the Ultimate Question of Life, the Universe, and Everything?"',
          );

          window.fortyTwo = window['4️⃣2️⃣'] = window['forty two'] = getFullPower;
        } else {
          console.log('Hi, nice hacker! Do you know something about the konami code?');
        }

        function getCSSTheme() {
          const theme = localStorage.getItem('random-theme');
          const themeVersion = localStorage.getItem('random-theme-version');

          if (!theme || themeVersion !== DEFAULT_THEME_VERSION) {
            localStorage.removeItem('random-theme');
            localStorage.removeItem('random-theme-hacked');
            localStorage.removeItem('random-theme-version');

            return DEFAULT_THEME;
          }

          return theme;
        }

        function getCSSThemeList() {
          return fetch('/assets/themes/index.json')
            .then((response) => response.json())
            .then(({ themes }) => themes)
            .catch(() => []);
        }

        function setCSSTheme(theme) {
          persistCSSTheme(theme);

          window.scrollTo(0, 0);
          window.location.reload();
        }

        function persistCSSTheme(theme) {
          const themeVersion = localStorage.getItem('random-theme-version');

          if (themeVersion !== DEFAULT_THEME_VERSION) {
            localStorage.setItem('random-theme', DEFAULT_THEME);
            localStorage.setItem('random-theme-version', DEFAULT_THEME_VERSION);
          } else {
            localStorage.setItem('random-theme', theme);
          }
        }

        function loadCSSTheme() {
          const theme = getCSSTheme();

          const linkElement = document.createElement('link');
          linkElement.rel = 'stylesheet';
          linkElement.href = theme;

          linkElement.addEventListener('load', () =>
            requestAnimationFrame(() => {
              document.body.style.opacity = '1';
              document.body.style.overflow = 'auto';
            }),
          );

          linkElement.addEventListener('error', () => {
            if (theme !== DEFAULT_THEME) {
              loadCSSTheme(DEFAULT_THEME);
            }
          });

          document.head.appendChild(linkElement);
        }

        loadCSSTheme();

        document.addEventListener('keyup', (event) => {
          pressedKeys += event.code;
          clearTimeout(timeoutId);

          if (pressedKeys === KONAMI_CODE) {
            pressedKeys = '';
            timeoutId = null;
            document.body.innerHTML = '<div style="text-align: center;">konami</div>';

            getCSSThemeList().then((themes) => {
              const currentTheme = getCSSTheme();
              const availableThemes = themes.filter((theme) => theme !== currentTheme);

              if (availableThemes.length) {
                setCSSTheme(availableThemes[Math.floor(Math.random() * availableThemes.length)]);
              }
            });
          } else if (KONAMI_CODE.startsWith(pressedKeys)) {
            timeoutId = setTimeout(() => {
              pressedKeys = '';
            }, 5000);
          } else {
            pressedKeys = '';
          }
        });
      })();
    </script>
  </head>
  <body style="opacity: 0; overflow: hidden">
    <main id="wrapper">
      <nav id="main-menu">
        <a href="/">pablomolina.me</a>

        <span id="main-menu-link-list">
          {% for page in site.pages %}{% if page.title != "Index" %}
          <a href="{{ page.url }}">
            {% if page.emoji %}<span class="emoji">{{ page.emoji }}</span>{% endif %}
            <span>{{ page.title }}</span>
          </a>
          {% endif %}{% endfor %}
        </span>
      </nav>

      <div
        id="content"
        class="{% if page.layout == 'default' %}content-page content-page-{{ page.slug }}{% else %}content-{{ page.layout }}{% endif %}"
      >
        {{ content }}
      </div>

      <footer id="footer">
        <h1 id="footer-name">Pablo Molina</h1>
        <a id="footer-email" href="mailto:contact@pablomolina.me"><span class="emoji">📮</span>contact@pablomolina.me</a>

        <nav id="footer-links">
          <a href="https://github.com/p2kmgcl" title="Pablo Molina's Github profile">
            <span class="emoji">🐱</span>
            <span>Github</span>
          </a>
          <a href="https://mobile.twitter.com/p2kmgcl" title="Pablo Molina's Twitter profile">
            <span class="emoji">🐦</span>
            <span>Twitter</span>
          </a>
          <a href="https://www.linkedin.com/in/p2kmgcl/" title="Pablo Molina's LinkedIn profile">
            <span class="emoji">👔</span>
            <span>LinkedIn</span>
          </a>
        </nav>
      </footer>
    </main>
  </body>
</html>
