---
modules:
  - base-styles
  - dark-theme
  - konami-code
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="{{ "/manifest.json" | absolute_url }}" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <meta name="theme-color" content="{{ site.themeColor }}" />

    {% for favicon in site.favicons %}
      <link
        rel="icon"
        type="image/png"
        sizes="{{ favicon }}x{{ favicon }}"
        href="{{ "/favicon/favicon-" | append: favicon | append: ".png" | absolute_url }}"
      />
    {% endfor %}

    {% for moduleName in layout.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for html in module.head %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
    {% endfor %}

    {% for moduleName in page.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for html in module.head %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
    {% endfor %}

    {% for moduleName in layout.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for style in module.styles %}<style>{% include modules/{{ moduleName }}/{{ style }} %}</style>{% endfor %}
    {% endfor %}

    {% for moduleName in page.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for style in module.styles %}<style>{% include modules/{{ moduleName }}/{{ style }} %}</style>{% endfor %}
    {% endfor %}
  </head>
  <body>

    <div class="container">
      {% for moduleName in layout.modules %}
        {% assign module = site.data.modules[moduleName][moduleName] %}
        {% for html in module.before-content %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
      {% endfor %}

      {% for moduleName in page.modules %}
        {% assign module = site.data.modules[moduleName][moduleName] %}
        {% for html in module.before-content %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
      {% endfor %}

      {{ content }}

      {% for moduleName in layout.modules %}
        {% assign module = site.data.modules[moduleName][moduleName] %}
        {% for html in module.after-content %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
      {% endfor %}

      {% for moduleName in page.modules %}
        {% assign module = site.data.modules[moduleName][moduleName] %}
        {% for html in module.after-content %}{% include modules/{{ moduleName }}/{{ html }} %}{% endfor %}
      {% endfor %}
    </div>

    {% for moduleName in layout.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for script in module.scripts %}<script type="module">{% include modules/{{ moduleName }}/{{ script }} %}</script>{% endfor %}
    {% endfor %}

    {% for moduleName in page.modules %}
      {% assign module = site.data.modules[moduleName][moduleName] %}
      {% for script in module.scripts %}<script type="module">{% include modules/{{ moduleName }}/{{ script }} %}</script>{% endfor %}
    {% endfor %}
  </body>
</html>
