---
layout: default
---

<style>
  article {
    max-width: 70ch;
    margin: 0 auto;
    padding-bottom: 10vh;
  }

  article .article-content {
    text-align: justify;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  header p {
    color: var(--secondary-color);
    margin-bottom: 2rem;
    max-width: 80%;
  }
</style>

<article>
  <header class="article-header">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </header>

  <div class="article-content">
    {{ content }}
  </div>
</article>
