<footer class="licenseWrapper">
    <h1 class="licenseTitle">Licencia</h1>
    <figure class="licenseContent">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_CO" class="licenseLink"><img class="licenseImage" alt="Licencia Creative Commons" style="border-width:0" src="{{ site.baseurl }}/assets/license_80x15.png"></a>

        <figcaption class="licenseDescription">
            <span class="licenseSummary">{{ i18n.license.sumUp }}.</span>
            <div class="licenseFormal">
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">{{ i18n.license.project }}</span>
                {{ i18n.license.by }}
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://pablomolina.me" property="cc:attributionName" rel="cc:attributionURL">Pablo Molina</a>
                {{ i18n.license.under }}
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_CO">{{ i18n.license.name }}</a>.
                {{ i18n.license.based }}
                <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/p2kmgcl/p2kmgcl.github.com" rel="dct:source">github.com/p2kmgcl/p2kmgcl.github.com</a>.
                {{ i18n.license.permisions }}
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://pablomolina.me" rel="cc:morePermissions">http://pablomolina.me</a>.
            </div>
        </figcaption>
    </figure>
</footer>
