<li class="mainMenuSection mainMenuSectionPages">
    <span class="mainMenuSectionTitleWrapper">
        <i class="mainMenuSectionTitleIcon fa fa-file"></i>
        <span class="mainMenuSectionTitle">{{ i18n.pages }}</span>
    </span>
    <ul class="mainMenuSectionLinks">
        {% for section in site.pages %}
        {% if section.lang == page.lang and section.title %}
            <li class="mainMenuSectionLinkWrapper">
                <a
                    href="{{ site.baseurl }}{{ section.url }}"
                    class="mainMenuSectionLink {% if page.id == section.id %} current{% endif %}"
                    data-pageid="{{ section.id }}">
                    <i class="mainMenuSectionLinkIcon fa fa-{{ section.menu }}"></i>
                    <span>{{ section.title }}</span>
                </a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
