<li class="mainMenuSection mainMenuSectionLanguages">
    <span class="mainMenuSectionTitleWrapper">
        <i class="mainMenuSectionTitleIcon fa fa-globe"></i>
        <span class="mainMenuSectionTitle">{{ i18n.languages }}</span>
    </span>
    <ul class="mainMenuSectionLinks">
        {% for language in site.languages %}
            <li class="mainMenuSectionLinkWrapper">
                <a
                    href="{% if page.lang != language.id %}{{ site.baseurl }}/{{ language.id }}/home.html{% else %}javascript:void(0){% endif %}"
                    class="mainMenuSectionLink {% if page.lang == language.id %} current{% endif %}"
                    data-language="{{ language.id }}">
                    {{ language.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
