<nav class="mainMenu" role="navigation">
    <header class="mainMenuTitleWrapper mainMenuOpenWrapper">
        <i class="mainMenuTitleIcon mainMenuOpenIcon fa fa-bars"></i>
        <span class="mainMenuTitle mainMenuOpen">{{ i18n.mainmenu }}</span>
    </header>

    <a href="javascript:void(0)" class="mainMenuCloseWrapper">
        <i class="mainMenuCloseIcon fa fa-times-circle-o"></i>
        <span class="mainMenuClose">{{ i18n.close }}</span>
    </a>

    <ul class="mainMenuContent">
        {% include content/header_pages.html %}
        {% include content/header_languages.html %}
        {% include content/header_themes.html %}
    </ul>
</nav>
