<li class="pageMenu">
    <span class="menuTitle">
        <i class="fa fa-file"></i>
        <span>{{ i18n.pages }}</span>
    </span>
    <ul>{% for section in site.pages %}{% if section.lang == page.lang and section.title %}<li class="page page-{{ section.id }}">
        <a  href="{{ site.baseurl }}{{ section.url }}"
            {% if page.id == section.id %}class="current"{% endif %}
            data-pageid="{{ section.id }}">
            <i class="fa fa-{{ section.menu }}"></i>
            <span>{{ section.title }}</span>
        </a>
    </li>{% endif %}{% endfor %}</ul>
</li>
