@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes toTranslateXZero {
  to {
    transform: translateY(0);
  }
}

@keyframes translateToCenter {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

.section {
  min-height: 100vh;
  padding: 3rem 2rem;
  box-sizing: border-box;
}

.section.main {
  padding-top: 20vh;
  max-width: 80ch;
}

.title,
.subtitle {
  opacity: 0;
  margin: 0;
  transform: translateX(-0.5ch);
  animation: fadeIn ease-out calc(var(--transition-duration) * 7),
    toTranslateXZero ease-out calc(var(--transition-duration) * 5);
  animation-fill-mode: forwards;
}

.title {
  font-size: 7rem;
  animation-delay: var(--transition-duration);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
}

.subtitle {
  transform: translateX(-2ch);
  animation-delay: calc(var(--transition-duration) * 3);
}

.link-list {
  display: flex;
  margin-top: 0.5rem;
  transform: translateX(-0.5rem);
}

.link {
  opacity: 0;
  display: inline-flex;
  animation: fadeIn ease-out calc(var(--transition-duration) * 2),
    translateToCenter ease-out calc(var(--transition-duration) * 2);
  animation-fill-mode: forwards;
  text-decoration: none;
  transform-origin: 50% 50%;
}

@media (max-width: 800px) {
  .section.main {
    padding-top: 30vh;
  }

  .title {
    font-size: 4rem;
  }
}
