@keyframes glitchLeft {
  from {
    transform: translateX(0);
  }
  to {
    color: rgba(0, 0, 255, 0.5);
    transform: translateX(-8px);
  }
}

@keyframes glitchRight {
  from {
    transform: translateX(0);
  }
  to {
    color: rgba(255, 0, 0, 0.5);
    transform: translateX(8px);
  }
}

@keyframes glitchCenter {
  from {
    transform: translateX(0);
  }
  to {
    color: rgba(0, 255, 0, 0.5);
    transform: skew(8deg);
  }
}

.title-fragment {
  display: inline-block;
  position: relative;
  clip: rect(0 1ch 0.5em 0);
}

.title-fragment::before,
.title-fragment::after {
  content: attr(data-letter);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 auto 0.5em 0);
}

.title-fragment::after {
  clip: rect(0.5em auto auto 0);
}

.title-fragment.animated:nth-child(odd)::before,
.title-fragment.animated:nth-child(even)::after {
  animation: glitchRight linear 0.1s infinite;
}

.title-fragment.animated:nth-child(odd)::after,
.title-fragment.animated:nth-child(even)::before {
  animation: glitchLeft linear 0.1s infinite;
}

.title-fragment.animated:nth-child(3n)::after,
.title-fragment.animated:nth-child(4n)::before {
  animation: glitchCenter linear 0.1s infinite;
}
