---
---

<!DOCTYPE html>
<html lang="{{ page.language }}">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="descrition" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="distribution" content="web">
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,500">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
</head>
<body>
  <nav class="navigation">
    <ul class="social-links">
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Codepen"
          href="http://codepen.io/p2kmgcl/public/">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-codepen.svg"
            alt="Codepen">
          <span class="rounded-label__text">Codepen</span>
        </a>
      </li>
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Geekytheory"
          href="http://geekytheory.com/author/p2kmgcl/">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-geekytheory.svg"
            alt="Geekytheory">
          <span class="rounded-label__text">Geekytheory</span>
        </a>
      </li>
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Github"
          href="https://github.com/p2kmgcl">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-github.svg"
            alt="Github">
          <span class="rounded-label__text">Github</span>
        </a>
      </li>
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="LinkedIn"
          href="https://www.linkedin.com/in/p2kmgcl">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-linkedin.svg"
            alt="LinkedIn">
          <span class="rounded-label__text">LinkedIn</span>
        </a>
      </li>
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Google+"
          href="https://plus.google.com/+PabloMolina">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-googleplus.svg"
            alt="Google+">
          <span class="rounded-label__text">Google+</span>
        </a>
      </li>
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Twitter"
          href="https://twitter.com/p2kmgcl">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-twitter.svg"
            alt="Twitter">
          <span class="rounded-label__text">Twitter</span>
        </a>
      </li>
    </ul><!-- social-links -->

    <ul class="language-links">
      {% if page.language != 'en' %}
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="English"
          href="{{ site.baseurl }}/en">
          <span class="rounded-label__text">English</span>
        </a>
      </li>
      {% endif %}
      {% if page.language != 'es' %}
      <li class="rounded-label">
        <a class="rounded-label__link"
          title="Español"
          href="{{ site.baseurl }}/">
          <span class="rounded-label__text">Español</span>
        </a>
      </li>
      {% endif %}

      <li class="rounded-label">
        <a class="rounded-label__link"
          title="{{ page.download_cv_text }}"
          href="/assets/pablomolina-cv-{{ page.language }}.pdf">
          <img class="rounded-label__icon"
            src="{{ site.baseurl }}/assets/icon-download.svg"
            alt="{{ page.download_cv_text }}">
          <span class="rounded-label__text">PDF</span>
        </a>
      </li>
    </ul><!-- language-links -->
  </nav>

  <article>{{ content }}</article>

  <footer>
    <div class="license" rel="license">
        <img class="license__image"
            alt="{{ page.license_alt }}"
            width="80" height="15"
            src="https://i.creativecommons.org/l/by/4.0/80x15.png">
        <span class="license__summary">{{ page.license_description }}</span>
    </div>

    <a class="source"
      href="{{ site.source_url }}">
      {{ page.github_description }}
    </a>
  </footer>
</body>
</html>
