---
---

<!DOCTYPE html>
<html class="lang_{{ page.lang }}" lang="{{ page.lang }}">
{% include head.html %}
<body class="body">
    {% include header.html %}
    <header class="wrapper homeHeader">
        <ul>
            <li><a href="http://codepen.io/p2kmgcl/public/">
                <i class="fa fa-codepen"></i>
                <span>Codepen</span>
            </a></li>
            <li><a href="http://geekytheory.com/author/p2kmgcl/">
                <i class="fa fa-rocket"></i>
                <span>Geekytheory</span>
            </a></li>
            <li><a href="https://github.com/p2kmgcl">
                <i class="fa fa-github"></i>
                <span>Github</span>
            </a></li>
            <li><a href="https://www.linkedin.com/in/p2kmgcl">
                <i class="fa fa-linkedin"></i>
                <span>LinkedIn</span>
            </a></li>
            <li><a href="https://plus.google.com/+PabloMolina">
                <i class="fa fa-google-plus"></i>
                <span>Google+</span>
            </a></li>
            <li><a href="https://twitter.com/p2kmgcl">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a></li>
        </ul>
        <ul>
            {% assign curriculum_url = "/assets/curriculum/curriculum_pablomolina_" %}
            {% if page.url == '/index.html' %}
                <li><a href="{{ site.baseurl }}/en/">
                    English
                </a></li>
                ·
                <li><a href="{{ site.baseurl }}{{ curriculum_url }}es.pdf">
                    <i class="fa fa-download"></i>
                    <span>Descargar pdf</span>
                </li></a>
            {% else if page.url == '/en/index.html' %}
                <li><a href="{{ site.baseurl }}/">
                    Español
                </a></li>
                ·
                <li><a href="{{ site.baseurl }}{{ curriculum_url }}en.pdf">
                    <i class="fa fa-download"></i>
                    <span>Download pdf</span>
                </li></a>
            {% endif %}
        </ul>
    </header>
    <div class="wrapper homeWrapper container">
        {{ content }}
    </div>
    {% include footer.html %}
    <script>(function () {
        // Preload print logo
        var img = document.createElement('img');
            img.src = '{{ site.baseurl }}/assets/logo_black.png';
            img.style.display = 'none';
            document.body.appendChild(img);
    }());</script>
</body>
</html>
