---
layout: index
---

<div id="hcard-pablomolina" class="vcard">
    <p class="nameWrapper">
        <span class="fn n">
            <span class="given-name">{{ page.author.name.first }}</span>
            <span class="family-name">{{ page.author.name.second }}</span>
        </span>
        <span class="comma">,</span>
        <span class="nicknameIntro">{{ page.i18n.alias }}</span>
        <span class="nickname">{{ page.author.name.alias }}</span>
        <span class="comma">,</span>
        <span class="birth">
            <span class="birthDayIntro">{{ page.i18n.birth.dayIntro }}</span>
            <time class="birthDate" datetime="{{ page.i18n.birth.dayDatetime }}">{{ page.i18n.birth.day }}</time>
            <span class="birthPlaceIntro">{{ page.i18n.birth.placeIntro }}</span>
            <span class="birthPlace">{{ page.i18n.birth.place }}</span>
        </span>
        <span class="dot">.</span>
    </p>

    <div class="rolesWrapper">
        <span class="rolesIntro">{{ page.i18n.rolesIntro }}</span>
        <span class="dots">:</span>
        <ul class="roles">{% for role in page.author.roles %}
            <li class="role{% if forloop.index == 1 %} current{% endif %}">{{ role }}</li>
        {% endfor %}</ul>
    </div>
</div>

<script>window.onload = function () { p2kmgcl.fn.roleChange(); };</script>
