{% assign i18n = site[page.lang] %}
{% assign lang = page.lang %}

<!DOCTYPE html>
<html lang="{{ lang }}" class="no-js page-{{ page.id }}" data-pageid="{{ page.id }}">
<head>
    {% include content/metadata.html %}
    <title  id="headtitle"
            data-title=" | {{ i18n.title }} | {{ i18n.subtitle }}">
            {{ page.title }} | {{ i18n.title }} | {{ i18n.subtitle }}
    </title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome-4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ site.theme.main }}_index.css" id="cssthemeIndex" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ site.theme.main }}_{{ page.id }}.css" id="cssthemePart" data-theme="{{ site.theme.main }}" />
</head>
<body class="page-{{ page.id }}" data-pageid="{{ page.id }}">
    {% include content/header.html %}
    <section id="wrapper">
        <h1 class="sectionTitle">{{ page.title }}</h1>
        {{ content }}
    </section>
    {% include content/footer.html %}

    <script src="{{ site.baseurl }}/js/jquery.min.js" async></script>
    <script src="{{ site.baseurl }}/js/main.js" async></script>
</body>
</html>
