---
layout: index

projectsData:
  - id: terracaelumque
    url: http://terracaelumque.blogspot.com
    state: progress
    categories:
      - freelance
      - writing
  - id: alibeltpv
    url: http://pablomolina.me/Alibel-TPV
    state: finished
    categories:
      - academic
      - programming
  - id: csaaer
    url: http://pablomolina.me/csaaer
    state: finished
    categories:
      - academic
      - programming
  - id: hashdecode
    url: https://github.com/p2kmgcl/HashDecode/
    noimage: true
    state: finished
    categories:
      - freelance
      - programming
  - id: centrolacantera
    url: http://centrolacantera.com
    categories:
      - freelance
      - programming
    state: finished
  - id: woso
    categories:
      - freelance
      - programming
    url: http://dl.dropboxusercontent.com/u/6037255/woso.html
    state: finished
---

{% for project in page.projectsData %}
<article class="project project-{{ project.id }} project-{{ project.state }}{% for category in project.categories %} project-{{ category }}{% endfor %}">
    <h1 class="projectName">
        <a class="projectLink" target="_blank" href="{{ project.url }}">{{ page.projectsInfo[project.id].name }}</a>
    </h1>
    
    <figure class="projectDescriptionWrapper">
        <img class="projectImage" src="{{ site.baseurl }}/assets/projects/{% if project.noimage %}noprojectimage{% else %}{{ project.id }}{% endif %}.jpg" alt="{{ project.name }}" title="{{ project.name }}" />
        <figcaption class="projectDescription">{{ page.projectsInfo[project.id].description }}</figcaption>
    </figure>
    
    <ul class="projectCategories">
    {% for category in project.categories %}
        <li class="project-category-{{ category }}">{{ page.categoryNames[category] }}</li>
    {% endfor %}
    </ul>
</article>
{% endfor %}
