!= partial('_partials/_html')
	head
	!= partial('../_partials/_head')
	body
		!= partial('../_partials/_menu')
			#wrapper
				article.article
					h2.articleTitle= title
					!= yield
					!= partial('../_partials/_share')
		!= partial('../_partials/_footer')
