:markdown
  Es cierto que muchos diseñadores web utilizan un paradigma concreto adaptado a su criterio y que siguen unas pautas que hacen del diseño web algo sencillo (para ellos) sin llegar a hacerlo monótono. Pero en un pasado reciente he tenido problemas en un aspecto... ¿Cómo hacer llegar este progreso, esta fluidez de ideas que surgen, al cliente?
  
  Como todos sabréis **hacer una web** medianamente compleja no es un proceso que se haga en una tarde, sino que **requiere tiempo y perfeccionamiento**. Pero esta tarea puede ser aún más tediosa cuando no se tiene claro que es lo que se está buscando. Comienzas a escribir código y te diviertes, vas cogiendo ideas y las pruebas y se te ocurren nuevos conceptos que puedes probar en la web. Si este es tu método al hacer una web, amigo mío, estás perdiendo el tiempo.
  
  No juzgo tus capacidades ni tu habilidades, pero por la inexperiencia que me rodea sé que es un método muy practicado y un método muy lento para hacer una web. Es cierto que indagando es como se aprenden cosas nuevas, pero cada cosa debe hacerse en su momento y debes aprender a formarte en la sencillez en el trabajo y en la eficacia al hacerlo.
  Por ello en una asignatura como Fundamentos de Ingeniería del Software aprendemos que **comunicarse con un cliente y organizar el trabajo puede llegar a ser una tarea** muchísimo más **compleja** de lo que parece ser. Expongo un ejemplo:
  
   > *10 de Diciembre*
   >
   > Antonio lleva un mes desarrollando una web para un bar de tapas. Es una web sencilla, básicamente son un puñado de documentos HTML (PHP en realidad, ya que el servidor se lo permite) estáticos y en uno de ellos hay un formulario con el que se puede reservar una mesa. La web lleva una semana terminada, pero el cliente quiere algunos retoques aún. 
  
   > *13 de Enero, 19:55*
   >
   > Nuestro amigo se dirige al bar del cliente para comunicarle una serie de cambios que quiere hacer, un par de bordes redondeados y la unión de dos secciones que tienen la misma semántica: la carta y los platos del día. Por supuesto Antonio no lleva ningún tipo de documentación porque lo único que necesita decirle es ese par de ajustes y su visita va a ser de apenas unos minutos.
  
   > *13 de Enero, 20:55*
   >
   > Antonio sale del bar, frustrado, casi malhumorado. Lleva una hora entera intentando explicar lo que iba a hacer pero el cliente no conseguía que el cliente entendiera sus razones para hacer ese cambio a pesar de lo obvio que le parecía. Además se han ido por las ramas y han quedado en añadir a la web 5 nuevas  ideas que la harán más aceptable. ¿Conclusión? **Esos escasos minutos han pasado a ser una hora y esa web terminada aún necesita 1 o 2 semanas más**.
  
  Y tras ver todo el panorama, ¿dónde está el problema? ¿Es Antonio un mal diseñador o no tiene los conocimientos suficientes para hacer la web? Pues yo digo que no es nada de eso, el hecho **consiste sencillamente en planificar**.
  
  Como he dicho antes, indagando y programando lo que se nos ocurra aprendemos cosas nuevas, pero cuando se trata de terminar algo no debemos hacer eso, ya que una sencilla tarea que al principio nos resulta divertida puede acabar convirtiéndose en algo que no vamos a querer continuar bien por pereza o por el cansancio de darle vueltas a una misma idea.
  
  Por ello existen **múltiples métodos** que nos ayudan a terminar antes un trabajo sin tener que estar dando palos de ciego, aunque es obvio que **no son métodos milagrosos** y que para que sean efectivos tenemos que poner de nuestra parte. Voy a dejar claras una serie de pautas que considero necesarias para poder realizar este trabajo sin acabar queriendo matar a alguien:
  
   - **La comunicación es lo primero**. Jamás, y repito, jamás, empezar el trabajo hasta que no se tiene claro que es exactamente lo que se quiere. Es cierto que eso, en todas las ocasiones, es prácticamente imposible, pero tenemos que procurar que el trabajo que llevemos realizado sea el producto de una idea concreta y no de pruebas para ver que tal funciona. Ahora comentaré una técnica que ayuda a no tener que hacer trabajo innecesario.
   - **El cliente es el experto**. Cuando vamos a diseñar una web, la gente que no tiene mucha idea de cómo utilizar un ordenador parece considerarnos como una especie de seres todopoderosos y es fácil dejarse llevar y tomar esto como un trabajo con un colega. Debemos tener claro que lo que queremos es plasmar el trabajo o la idea del cliente en una página web, por ello aunque nos parezca que ya sabemos lo que quiere/necesita debemos escuchar y tomar nota de cada palabra de nuestro cliente. Él es el profesional que nos está contratando y para entender lo que hace debemos escuchar lo que dice.
   - **La memoria no es infinita**. Cuando vayamos a charlar con el cliente acerca del proyecto, debemos intentar se meticulosos con la charla. Como he dicho antes, no es una charla que vayas a tener con un amigo, sino con alguien que está pagándote por hacer tu trabajo y que debe sentir que realmente vales lo que cobras. Por ello hay que tomar notas o incluso, si al cliente no le parece mal, grabar vuestras charlas para que no se pierda ninguna idea y que no se tenga que volver a ella.
  
  Siguiendo estas pautas solo me queda añadir un pequeño método de los muchos que hay, pero en mi opinión especialmente útil para diseñar una web: **el prototipado**.
  
  [![Muestra de un prototipo](http://1.bp.blogspot.com/-aAGDtK5tlDU/Tw1Xz1fUPgI/AAAAAAAAKTk/IqFabfQnCCI/s1600/2875303253_055b01a37e_z.jpg)](http://flic.kr/p/5o5Fu2)
  
  El prototipado, como su propio nombre indica, consiste en la creación de prototipos o muestras que **requieren un esfuerzo considerablemente menor al del producto final** y que nos permite comprobar hasta cierto punto qué aspecto va a tener nuestro producto final.
  
  Para que nos entendamos, si el usuario quiere una web en la que al pinchar un enlace las letras empiezan a saltar y a volverse locas no nos pondremos a programar esto directamente, sino que usando herramientas de diseño gráfico como [Inkscape](http://inkscape.org/) o [Pencil](http://pencil.evolus.vn/) o de dibujo como [GIMP](http://www.gimp.org/) crearemos una serie de modelos para **comprobar que entendemos lo que el cliente está buscando** y, una vez que todo está claro, comenzar a trabajar.
  
  La razón para hacer esto es que, sobretodo en el diseño web, el aspecto del producto es esencial y es una tarea mucho menos tediosa si tenemos una imagen que nos indica lo que queremos obtener. Y **este**, este amigo mío, **es el momento de** indagar y **probar cosas nuevas** para obtener la idea que queremos.
  
  Si seguimos estos pasos y aprendemos a usar con habilidad las herramientas de diseño web nos daremos cuenta de que **obtendremos productos con una calidad** considerable en plazos de tiempo relativamente cortos y que conseguiremos unos clientes satisfechos y orgullosos de recomendarnos a otras personas.
