@import url('/assets/themes/simplicity.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  font-family: 'Kalam', serif;
  font-weight: 300;
}

a {
  color: #9d1a80;
}

h1,
h2 {
  text-align: center;
  color: #333;
  text-decoration: underline;
  margin-bottom: 1em;
}

.body--index #title {
  margin-bottom: 1em;
}

.body--links ul,
.body--links ol {
  margin: 0 auto;
  max-width: 40ch;
}

.body--blog {
  text-align: center;
}

strong {
  color: #9d1a80;
  font-weight: 700;
}

.emoji {
  display: none;
}

#magical-image {
  display: none;
}

#footer {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .body--links ul,
  .body--links ol {
    max-width: 50ch;
  }

  .body--links footer {
    width: 50ch;
  }
}
