---
---

@import 'simplicity';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  font-family: 'Kalam', serif;
  font-weight: 300;
  text-align: center;
}

a {
  color: #9d1a80;
}

blockquote {
  padding-left: 1ch;
  border-left: 0;
  position: relative;

  border-top: solid rgba(155, 155, 155, 0.5) 1px;
  border-bottom: solid rgba(155, 155, 155, 0.5) 1px;

  p:first-child:before {
    content: '“';
    font-size: 6em;
    height: 0.4em;
    overflow: hidden;
    display: inline-block;
    opacity: 0.5;
  }
}

h1 {
  text-align: center;
  color: #333;
  text-decoration: underline;
  margin-bottom: 1em;
  line-height: 1;
}

article,
section article h1,
section article h1 a {
  text-align: left;
  text-decoration: none;
  width: 100%;
}

strong {
  color: #9d1a80;
  font-weight: 700;
}

.emoji {
  display: none;
}

#wrapper {
  #footer {
    max-width: 100%;

    @media (min-width: 768px) {
      max-width: 100%;
    }

    #footer-name {
      margin-bottom: 0;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

#content.content-page-index {
  header h1 {
    margin-bottom: 1em;
  }

  picture {
    display: none;
  }
}

#content.content-post article header time {
  text-align: center;
}
