@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap');

body {
  font-family: Inconsolata, 'Inconsolata', monospace;
  font-size: 16px;
  margin: 1rem;
}

a {
  display: inline-flex;
  min-height: 2em;
  align-items: center;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: 1em;
  height: 2em;
  border: solid thin rgba(150, 150, 150, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

#title {
  font-weight: 200;
  font-size: 3em;
}

#wrapper {
  margin: 0 auto;
  max-width: 60ch;
}

#main-menu {
  display: flex;
}

#main-menu-link-list {
  flex-grow: 1;
  text-align: right;
  padding-left: 1ch;
}

#magical-image {
  display: block;
  height: 350px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0.5em 0.5em 0 rgba(0, 0, 0, 0.1);
}

#footer {
  margin-top: 5rem;
}

#footer-name {
  display: block;
}

#random-theme-button {
  cursor: pointer;
  margin-top: 0.5rem;
}

.emoji {
  display: inline-block;
  margin-right: 0.75ch;
}

.body--index #title {
  margin-bottom: 0;
}

.body--index #title + p {
  margin-top: 0.5rem;
}

.body--links ul,
.body--links ol {
  padding-left: 0;
  list-style: none;
}

.body--links li > p {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }

  #magical-image {
    height: 500px;
  }

  .body--links ul,
  .body--links ol {
    max-width: 60ch;
  }

  .body--links footer {
    width: 60ch;
  }
}

@media (min-width: 1280px) {
  body {
    line-height: 1.25;
  }

  #wrapper {
    max-width: 70ch;
  }

  #title {
    margin-top: 1em;
  }

  #footer {
    margin-top: 5rem;
    text-align: center;
  }

  #magical-image {
    float: right;
    width: 325px;
    height: 325px;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 48px;
    margin: 4rem;
  }

  #footer {
    margin-top: 10rem;
  }

  #magical-image {
    float: right;
    width: 800px;
    height: 600px;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
