h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

blockquote {
  border-left: solid 0.5ch rgba(155, 155, 155, 0.5);
  padding-left: calc(1rem + 0.5ch);
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  border: none;
  border-top: solid rgba(155, 155, 155, 0.5) 1px;
  border-bottom: solid rgba(155, 155, 155, 0.5) 1px;
}

pre + iframe {
  border-top: none;
  position: relative;
  top: -1ch;
}

strong {
  font-weight: 900;
}

p {
  text-align: justify;
  hyphens: auto;
}

ul {
  padding-left: 2ch;
}

table {
  overflow: hidden;
  margin: 0 auto;
}

hr {
  border: solid thin rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 0.5em 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

thead tr,
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
