---
---

@import 'normalize.scss'

$font-size: 15px
$logo-width: 525px
$logo-height: 127px
$document-padding: 75px
$document-width: $logo-width + $document-padding * 2
$media-size: $document-width + $document-padding

$body-background-color: #fdfdfd
$article-background-color: #ffffff
$blockquote-background-color: darken($article-background-color, 2.5%)
$color: black
$highlight-color: #0085B0
$border-color: $highlight-color
$link-color: $highlight-color
$link-hover-color: lighten($highlight-color, 10%)

$font-family: Ubuntu, 'Ubuntu'
$font-weight: 300
$font-bold-weight: 500

// Body and wrapper styling ----------------------------------------------------

@page
  margin: 15mm 20mm

body
  font-size: $font-size

  @media screen
    background-color: $body-background-color

  @media (max-width: $media-size)
    background-color: $article-background-color

article
  font-family: $font-family
  text-align: justify
  font-weight: $font-weight
  margin-left: auto
  margin-right: auto
  color: $color
  line-height: 1.25

  @media screen
    max-width: $logo-width
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
    padding-left: $document-padding
    padding-right: $document-padding
    padding-top: $document-padding / 2
    padding-bottom: $document-padding
    margin-top: 0
    margin-bottom: 2em
    background-color: $article-background-color

  @media (max-width: $media-size)
    padding-left: 1em
    padding-right: 1em
    margin-bottom: 0
    padding-top: 0
    box-shadow: none
    padding-bottom: $document-padding / 2
    background-color: transparent
    border-bottom: solid $border-color thin
    overflow-x: hidden

  // CV Generic styles ---------------------------------------------------------

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    color: $highlight-color
    font-weight: $font-bold-weight

  strong
    font-weight: $font-bold-weight

  a,
  a:visited,
  a:active
    color: $link-color

    @media (max-width: $media-size)
      display: inline-block
      margin: 0.5em 0

  a:hover,
  a:active:hover
    color: $link-hover-color

  blockquote
    border-left: solid 0.5em $border-color
    padding: 0.75em 1em
    margin-left: 0
    margin-right: 0
    background-color: $blockquote-background-color

    p
      margin: 0

  p,
  ul
    page-break-inside: avoid

  ul
    padding-left: 1.5em
    list-style: square
    text-align: left

  ul ul
    padding-left: 1.25em
    padding-top: 0.5em
    padding-bottom: 0.5em
    list-style: disc

  li p
    padding: 0
    margin: 0
    text-align: left

  // CV Big Logo ---------------------------------------------------------------

  h1
    color: transparent
    background-image: url({{ site.baseurl }}/assets/logo.svg)
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat
    height: $logo-height
    margin-top: 2em
    margin-bottom: 3em
    margin-left: auto
    margin-right: auto

    @media screen
      margin: 2em auto

    @media screen and (max-width: $media-size)
      margin: 5vw auto

  // Section Headers -----------------------------------------------------------

  h2
    border-bottom: solid 1px $border-color

  // Page separators -----------------------------------------------------------

  hr
    opacity: 0
    page-break-after: always

  // Force new lines on small screens ------------------------------------------

  @media (max-width: $media-size)
    overflow-wrap: break-word
    word-wrap: break-word
    -webkit-hyphens: auto
    -ms-hyphens: auto
    -moz-hyphens: auto
    hyphens: auto

// Top navigation --------------------------------------------------------------

.navigation
  max-width: $document-width
  margin: 0 auto

  @media (max-width: $media-size)
    padding: 0 1em
    max-width: $logo-width
    text-align: center

    ul,
    li
      margin-bottom: 0
      padding-bottom: 0

  @media print
    display: none

.social-links,
.language-links
  display: inline-block
  list-style: none
  padding: 0
  margin: 0

  li
    float: left

  @media (max-width: $media-size)
    margin: 0 auto

.language-links
  float: right

  @media (max-width: $media-size)
    float: none
    margin: 0 auto

// Top navigation buttons ------------------------------------------------------

.rounded-label
  display: inline-block
  margin: 0.5em 0.25em

  &__link
    display: block
    text-align: center
    height: 1em
    min-width: 1.75em
    padding: 0.4em 0
    background-color: $highlight-color
    border-radius: 0.25em
    vertical-align: middle
    color: white
    text-decoration: none
    transition: background-color ease 0.2s
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)

    &:hover
      background-color: $link-hover-color

  &__icon
    width: 1em

  &__text
    padding: 0 0.5em
    font-size: 1.0em
    padding-top: 0

  &__icon + &__text
    opacity: 0
    display: none

// Footer (license and fork info) ----------------------------------------------

footer
  padding-top: 1em
  padding-bottom: 2em

  a
    display: block
    text-align: center
    text-decoration: none
    font-size: 0.9em
    color: $link-color
    margin-bottom: 0.25em
    @media (max-width: $media-size)
      font-size: 1em

  @media print
    display: none

  @media (max-width: $media-size)
    padding-top: 2em
    background-color: $blockquote-background-color

.license
  text-align: center
  margin-bottom: 0.5em

.license__image
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: 0.5em
