body {
  color: #000;
  background-color: #FFF;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 300;
}

.main {
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  padding: 20vh 5vw 0 10vw;
  position: relative;
  width: 100vw;
}

.name {
  font-weight: 300;
  font-size: 3em;
  margin: 0;
}

  .name__first-name,
  .name__family-name {
    display: block;
  }

.moto {
  line-height: 1.25;
  list-style: none;
  padding-left: 0;
}

.links {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  padding: 1em 0;
  position: relative;
  width: 100%;
}

.link {
  display: block;
  padding: 0.5em 0.25em 0.5em 0;
  text-decoration: none;
  margin-right: 1ch;
}

  .link__icon {
    border-bottom: solid transparent 2px;
    fill: #444;
    height: 1em;
    padding-bottom: 0.25em;
    transition:
      fill ease 0.2s,
      border-bottom-color ease 0.2s
    ;
    vertical-align: sub;
    width: 1em;
    will-change: fill, border-bottom-color;
  }

  .link__content {
    bottom: 0;
    font-size: 1em;
    left: -0.25ch;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(-1em);
    transition:
      opacity ease 0.2s,
      transform ease-in 0.2s
    ;
    will-change: opacity, transform;
  }

  .link:hover .link__icon,
  .link--hover .link__icon {
    border-bottom-color: currentColor;
    fill: currentColor;
  }

  .link:hover .link__content,
  .link--hover .link__content {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity ease 0.2s,
      transform ease-out 0.2s
    ;
  }

  .link--codepen { color: #000000; }
  .link--github { color: #181717; }
  .link--paypal { color: #00457C; }
  .link--spotify { color: #0EC750; }
  .link--tumblr { color: #36465D; }
  .link--twitter { color: #1DA1F2; }

.icon-definitions {
  left: -99999px;
  position: absolute;
  opacity: 0;
  top: -99999px;
}

.background {
  background: transparent;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 640px) {
  .main {
    padding: 12vh 15vw 0 10vw;
  }
  
  .name {
    font-size: 15vmin;
  }
  
  .links {
    padding-left: 1ch;
  }
  
  .link__content {
    left: 0.75ch;
  }
  
  .moto {
    padding-left: 0.5em;
  }
}
