section.gists
    h2.sectionTitle Esencias (alias snippets)

    ul.categoriesList
        for category in categories
            li
                span= category
                ul.gistsList
                    for gist, gistSlug in public.gists[category]._data
                        li
                            a(href='/gists/' + category + '/' + gistSlug + '.html')= gist.title
